/*music player*/
.main-player {
  background: url("bg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  bottom: -245px;
  height: 245px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.toggle-player {
  background: url("kuma.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  bottom: 0;
  cursor: pointer;
  height: 35px;
  left: 10px;
  position: fixed;
  width: 68px;
  z-index: 1000;
}
.close-arrow:hover, #song-love:hover, #song-dust:hover, #song-play:hover, #song-prev:hover, #song-next:hover, #song-volume:hover, .song-note > img:hover, #song-loop:hover {
  transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  animation:btn-pudding 1s linear;
  -moz-animation:btn-pudding 1s linear;
  -webkit-animation:btn-pudding 1s linear;
}
.main-area {
  height: 100%;
  margin: 0 auto;
  width: 960px;
}
.interface {
  height: 190px;
  margin: 30px 0;
  position: absolute;
  width: 960px;
}
.song-cover {
  border-radius: 5px;
  box-shadow: 2px 2px 3px 1px #7b7b7b;
  float: left;
  height: 190px;
  position: relative;
  width: 190px;
}
.song-cover img {
  width: 190px;
  height: 190px;
  border-radius: 5px;
}
.control-panel {
  float: right;
  height: 65px;
  margin: 13px 0 0;
  width: 725px;
}
.control-panel-new {
  height: 70px!important;
  width: 960px!important;
  position: fixed;
  bottom: -70px;
  padding: 0 0px 0px 188px;
  background: rgba(0, 0, 0, 0.65);
}
.song-note {
  float: left;
  height: 65px;
  margin: 0 0 0 35px;
}
.song-info {
  float: right;
  height: 65px;
  margin: 0 0 0 300px;
  overflow: hidden;
  width: auto;
  position: absolute;
}
.control-panel span {
  margin: 0 9px;
  cursor: pointer;
}
.song-name {
  color: #fff;
  font-size: 47px;
  height: 65px;
  line-height: 68px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4), 2px 2px 1px rgba(255, 255, 255, 0.5);
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-weight: bold;
  white-space: nowrap;
}
#overlay {
  height: 100%;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: url("layer.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  z-index: 999;
}
/*
#pause:hover {
    background: none repeat scroll 0 0 rgba(10, 10, 10, 0.3);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}
#pause, #pause i {
    transition: all 0.3s ease 0s;
}
#pause {
    cursor: pointer;
    height: 190px;
    left: 0;
    top: 0;
    width: 190px;
}
#pause i {
    content: "";
    left: 50%;
    margin: -30px 0 0 -40px;
    position: absolute;
    top: 50%;
}
.pause i {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FFF;
    border-image: none;
    border-style: solid;
    border-width: 0 26px;
    height: 80px;
    opacity: 0;
    transform: rotate(180deg);
    width: 28px;
}
#pause.play i {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: rgba(0, 0, 0, 0) -moz-use-text-color rgba(0, 0, 0, 0) #fff;
  border-image: none;
  border-style: solid none solid solid;
  border-width: 40px 0 40px 64px;
  margin-left: -32px;
  opacity: 0.97;
}
#pause.play {
  background: none repeat scroll 0 0 rgba(20, 20, 20, 0.5);
}
.cover-shadow {
  background: none repeat scroll 0 0 rgb(0, 0, 0);
  height: 190px;
  position: absolute;
  width: 190px;
  z-index: 1001;
  opacity: 0;
}
*/
.volume {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 10px;
  margin: 27px 0 0 8px !important;
  position: absolute;
  width: 130px;
}
.volume-now {
  background: none repeat scroll 0 0 rgb(39, 38, 54);
  height: 10px;
  margin: 0 0 0 8px !important;
  position: absolute;
  z-index: 9999;
}
.progress {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  bottom: 0;
  cursor: pointer;
  height: 8px;
  position: fixed;
  transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  width: 100%;
  z-index: 1002;
}
.progress:hover {
  background: none repeat scroll 0 0 #d8d8d8;
  box-shadow: 2px 1px 5px rgb(239, 137, 164);
  transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
.progress-now {
  background: none repeat scroll 0 0 rgb(239, 137, 164);
  bottom: 0;
  height: 8px;
  position: fixed;
  width: 0%;
  z-index: 1003;
  box-shadow: 0 0 6px #e27894;
}
.songTime {
  font-size: 70px;
  color: #939393;
  right: 10px;
  position: absolute;
  margin: 135px 0 0 0;
  height: 80px;
  line-height: 80px;
}
.close-window {
  background: url("741d1470d9e0c66fd7ed8510df2a52bd.svg") no-repeat scroll center center rgba(0, 0, 0, 0);
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  cursor: pointer;
  display: block;
  float: right;
  height: 45px;
  opacity: 0.3;
  transition: all 0.5s cubic-bezier(0.27, 1.64, 0.32, 0.95) 0s;
  width: 45px;
  margin: 5px;
}
.close-window:hover {
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: rotate(90deg);
}
.bg-ball {
  background: none repeat scroll 0 0 rgba(3, 3, 3, 0.3);
  border-radius: 120px;
  height: 120px;
  margin: -60px -60px 0 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 120px;
  display: none;
}
.close-shadow {
  background: url("741d1470d9e0c66fd7ed8510df2a52bd.svg") no-repeat scroll center center rgba(0, 0, 0, 0);
  cursor: pointer;
  display: block;
  height: 45px;
  opacity: 0.4;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.27, 1.64, 0.32, 0.95) 0s;
  width: 45px;
  z-index: 1000;
  display: none;
}
.close-shadow:hover {
  transform: rotate(90deg);
}
/*song box*/
.song-list {
  height: 245px;
  position: fixed;
  z-index: 1007;
}
.song-box {
  float: left;
  height: 245px;
  background: none repeat scroll 0 0 #FFF;
}
.sort-card {
  height: 50px;
}
.default-list {
  background: url("list-item.png") no-repeat scroll 25px center rgb(248, 247, 238);
  color: #c3c2b9;
  cursor: pointer;
  float: left;
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 50%;
  transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}
.default-list > span, .fav-list > span {
  height: 50px;
  line-height: 50px;
}
.fav-list {
  float: right;
  height: 50px;
  width: 50%;
  background: url("list-love-grey.png") no-repeat scroll 20px center rgb(248, 247, 238);
  box-shadow: 0 2px 0 #ffffff inset;
  color: #c3c2b9;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}
.item-lists {
  height: 195px;
  width: 310px;
}
.selected {
  box-shadow: 0 2px 0 #f05451 inset;
  color: #28324d;
}
.sort-card div:hover:not(.selected) {
  color: #28324d;
  background-color: #f3f1e3 !important;
  box-shadow: 0 2px 0 #ededed inset;
}
.close-songlist {
  float: right;
  height: 245px;
  width: 40px;
}
.close-arrow {
  background: url("arrow-right.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  cursor: pointer;
  height: 40px;
  margin: 100px 0 0;
  width: 40px;
}
.arrow-change {
	background: url("arrow-left.png") no-repeat scroll center center rgba(0, 0, 0, 0)!important;
}
/*loading*/
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.loading-text {
  font-size: 13px;
  color: rgb(88, 88, 88); 
  text-shadow: 2px 2px rgb(219, 219, 219); 
  margin: 41px 24px;
}
.loading .bokeh {
  font-size: 100px;
    width: 1em;
    height: 1em;
    position: relative;
    margin: 50px auto;
    border-radius: 50%;
    border: 0.01em solid #bababa;
    list-style: none;
    box-shadow: 1px 1px 4px #ccc;
    }

.loading .bokeh li {
    position: absolute;
    width: .2em;
    height: .2em;
    border-radius: 50%;
}

.loading .bokeh li:nth-child(1) {
    left: 50%;
    top: 0;
    margin: 0 0 0 -.1em;
    background: #00C176;
    -webkit-transform-origin: 50% 250%;
    -moz-transform-origin: 50% 250%;
    -ms-transform-origin: 50% 250%;
    -o-transform-origin: 50% 250%;
    transform-origin: 50% 250%;
    -webkit-animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    -moz-animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    -ms-animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    -o-animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
}

.loading .bokeh li:nth-child(2) {
    top: 50%; 
    right: 0;
    margin: -.1em 0 0 0;
    background: #FF003C;
    -webkit-transform-origin: -150% 50%;
    -moz-transform-origin: -150% 50%;
    -ms-transform-origin: -150% 50%;
    -o-transform-origin: -150% 50%;
    transform-origin: -150% 50%;
    -webkit-animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    -moz-animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    -ms-animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    -o-animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
}

.loading .bokeh li:nth-child(3) {
    left: 50%; 
    bottom: 0;
    margin: 0 0 0 -.1em;
    background: #FABE28;
    -webkit-transform-origin: 50% -150%;
    -moz-transform-origin: 50% -150%;
    -ms-transform-origin: 50% -150%;
    -o-transform-origin: 50% -150%;
    transform-origin: 50% -150%;
    -webkit-animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    -moz-animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    -ms-animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    -o-animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
}

.loading .bokeh li:nth-child(4) {
    top: 50%; 
    left 0;
    margin: -.1em 0 0 0;
    background: #88C100;
    -webkit-transform-origin: 250% 50%;
    -moz-transform-origin: 250% 50%;
    -ms-transform-origin: 250% 50%;
    -o-transform-origin: 250% 50%;
    transform-origin: 250% 50%;
    -webkit-animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    -moz-animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    -ms-animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    -o-animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
}

@-webkit-keyframes rota {
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rota {
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes rota {
    to { -ms-transform: rotate(360deg); }
}

@-o-keyframes rota {
    to { -o-transform: rotate(360deg); }
}

@keyframes rota {
    to { transform: rotate(360deg); }
}

@-webkit-keyframes opa {
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@-moz-keyframes opa {
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@-ms-keyframes opa {
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@-o-keyframes opa {
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@keyframes opa {
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}
.nofav {
  font-size: 15px;
  line-height: 30px;
  margin: 70px 0;
  text-align: center;
}
.table-title {
  box-shadow: 0 0 0 #dfdede, 0 2px 0 #ededed;
  height: 30px;
}
.table-title div {
  float: left;
  font-size: 17px;
  padding: 6px 0;
  text-align: center;
}
.table-items {
    height: 165px;
    overflow-y: scroll;
    position: relative;
	font-size: 13px!important;
	width: 310px;
}
.single-item {
  box-shadow: 0 0 1px #e2e0e0;
  height: 26px;
  width: 100%;
  cursor: pointer;
}
.single-item:hover {
  background: none repeat scroll 0 0 #F0F0F0;
}
.single-item div {
  float: left;
  text-align: center;
  line-height: 26px;
  height: 26px;
}
.song-playing {
  font-weight:bold;
  color:orange
}
.singer-block {
  width: 25%; 
  white-space: nowrap; 
  overflow-x: hidden;
}
.title-block {
  text-align: left !important;
  text-indent: 1em;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
}
.shadow {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  color: #ffffff;
  cursor: pointer;
  opacity: 1;
  height: 26px;
  margin: -26px 0;
  padding: 7px 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
#lrcBox {
  color: #fff;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  width: 700px;
  margin: 70px 0 0 230px;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}
/*pudding*/
@-webkit-keyframes btn-pudding{0%{-webkit-transform:scale(1.2,0.8)}1%{-webkit-transform:scale(1.18,0.82)}2%{-webkit-transform:scale(1.16,0.84)}3%{-webkit-transform:scale(1.13,0.87)}4%{-webkit-transform:scale(1.1,0.9)}5%{-webkit-transform:scale(1.07,0.93)}6%{-webkit-transform:scale(1.04,0.96)}7%{-webkit-transform:scale(1.01,0.99)}8%{-webkit-transform:scale(0.99,1.01)}9%{-webkit-transform:scale(0.97,1.03)}10%{-webkit-transform:scale(0.95,1.05)}11%{-webkit-transform:scale(0.94,1.06)}12%{-webkit-transform:scale(0.93,1.07)}13%{-webkit-transform:scale(0.93,1.07)}14%{-webkit-transform:scale(0.93,1.07)}15%{-webkit-transform:scale(0.93,1.07)}16%{-webkit-transform:scale(0.94,1.06)}17%{-webkit-transform:scale(0.94,1.06)}18%{-webkit-transform:scale(0.95,1.05)}19%{-webkit-transform:scale(0.96,1.04)}20%{-webkit-transform:scale(0.98,1.02)}21%{-webkit-transform:scale(0.99,1.01)}22%{-webkit-transform:scale(1,1)}23%{-webkit-transform:scale(1,1)}24%{-webkit-transform:scale(1.01,0.99)}25%{-webkit-transform:scale(1.02,0.98)}26%{-webkit-transform:scale(1.02,0.98)}27%{-webkit-transform:scale(1.02,0.98)}28%{-webkit-transform:scale(1.03,0.97)}29%{-webkit-transform:scale(1.03,0.97)}30%{-webkit-transform:scale(1.02,0.98)}31%{-webkit-transform:scale(1.02,0.98)}32%{-webkit-transform:scale(1.02,0.98)}33%{-webkit-transform:scale(1.02,0.98)}34%{-webkit-transform:scale(1.01,0.99)}35%{-webkit-transform:scale(1.01,0.99)}36%{-webkit-transform:scale(1.01,0.99)}37%{-webkit-transform:scale(1,1)}38%{-webkit-transform:scale(1,1)}39%{-webkit-transform:scale(1,1)}40%{-webkit-transform:scale(0.99,1.01)}41%{-webkit-transform:scale(0.99,1.01)}42%{-webkit-transform:scale(0.99,1.01)}43%{-webkit-transform:scale(0.99,1.01)}44%{-webkit-transform:scale(0.99,1.01)}45%{-webkit-transform:scale(0.99,1.01)}46%{-webkit-transform:scale(0.99,1.01)}47%{-webkit-transform:scale(0.99,1.01)}48%{-webkit-transform:scale(0.99,1.01)}49%{-webkit-transform:scale(1,1)}}@-moz-keyframes preload3{0%{-webkit-transform:translateY(80px);opacity:0}100%{-webkit-transform:translateY(0px);opacity:1}}
@keyframes btn-pudding{0%{transform:scale(1.2,0.8)}1%{transform:scale(1.18,0.82)}2%{transform:scale(1.16,0.84)}3%{transform:scale(1.13,0.87)}4%{transform:scale(1.1,0.9)}5%{transform:scale(1.07,0.93)}6%{transform:scale(1.04,0.96)}7%{transform:scale(1.01,0.99)}8%{transform:scale(0.99,1.01)}9%{transform:scale(0.97,1.03)}10%{transform:scale(0.95,1.05)}11%{transform:scale(0.94,1.06)}12%{transform:scale(0.93,1.07)}13%{transform:scale(0.93,1.07)}14%{transform:scale(0.93,1.07)}15%{transform:scale(0.93,1.07)}16%{transform:scale(0.94,1.06)}17%{transform:scale(0.94,1.06)}18%{transform:scale(0.95,1.05)}19%{transform:scale(0.96,1.04)}20%{transform:scale(0.98,1.02)}21%{transform:scale(0.99,1.01)}22%{transform:scale(1,1)}23%{transform:scale(1,1)}24%{transform:scale(1.01,0.99)}25%{transform:scale(1.02,0.98)}26%{transform:scale(1.02,0.98)}27%{transform:scale(1.02,0.98)}28%{transform:scale(1.03,0.97)}29%{transform:scale(1.03,0.97)}30%{transform:scale(1.02,0.98)}31%{transform:scale(1.02,0.98)}32%{transform:scale(1.02,0.98)}33%{transform:scale(1.02,0.98)}34%{transform:scale(1.01,0.99)}35%{transform:scale(1.01,0.99)}36%{transform:scale(1.01,0.99)}37%{transform:scale(1,1)}38%{transform:scale(1,1)}39%{transform:scale(1,1)}40%{transform:scale(0.99,1.01)}41%{transform:scale(0.99,1.01)}42%{transform:scale(0.99,1.01)}43%{transform:scale(0.99,1.01)}44%{transform:scale(0.99,1.01)}45%{transform:scale(0.99,1.01)}46%{transform:scale(0.99,1.01)}47%{transform:scale(0.99,1.01)}48%{transform:scale(0.99,1.01)}49%{transform:scale(1,1)}}
@-moz-keyframes btn-pudding{0%{-moz-transform:scale(1.2,0.8)}1%{-moz-transform:scale(1.18,0.82)}2%{-moz-transform:scale(1.16,0.84)}3%{-moz-transform:scale(1.13,0.87)}4%{-moz-transform:scale(1.1,0.9)}5%{-moz-transform:scale(1.07,0.93)}6%{-moz-transform:scale(1.04,0.96)}7%{-moz-transform:scale(1.01,0.99)}8%{-moz-transform:scale(0.99,1.01)}9%{-moz-transform:scale(0.97,1.03)}10%{-moz-transform:scale(0.95,1.05)}11%{-moz-transform:scale(0.94,1.06)}12%{-moz-transform:scale(0.93,1.07)}13%{-moz-transform:scale(0.93,1.07)}14%{-moz-transform:scale(0.93,1.07)}15%{-moz-transform:scale(0.93,1.07)}16%{-moz-transform:scale(0.94,1.06)}17%{-moz-transform:scale(0.94,1.06)}18%{-moz-transform:scale(0.95,1.05)}19%{-moz-transform:scale(0.96,1.04)}20%{-moz-transform:scale(0.98,1.02)}21%{-moz-transform:scale(0.99,1.01)}22%{-moz-transform:scale(1,1)}23%{-moz-transform:scale(1,1)}24%{-moz-transform:scale(1.01,0.99)}25%{-moz-transform:scale(1.02,0.98)}26%{-moz-transform:scale(1.02,0.98)}27%{-moz-transform:scale(1.02,0.98)}28%{-moz-transform:scale(1.03,0.97)}29%{-moz-transform:scale(1.03,0.97)}30%{-moz-transform:scale(1.02,0.98)}31%{-moz-transform:scale(1.02,0.98)}32%{-moz-transform:scale(1.02,0.98)}33%{-moz-transform:scale(1.02,0.98)}34%{-moz-transform:scale(1.01,0.99)}35%{-moz-transform:scale(1.01,0.99)}36%{-moz-transform:scale(1.01,0.99)}37%{-moz-transform:scale(1,1)}38%{-moz-transform:scale(1,1)}39%{-moz-transform:scale(1,1)}40%{-moz-transform:scale(0.99,1.01)}41%{-moz-transform:scale(0.99,1.01)}42%{-moz-transform:scale(0.99,1.01)}43%{-moz-transform:scale(0.99,1.01)}44%{-moz-transform:scale(0.99,1.01)}45%{-moz-transform:scale(0.99,1.01)}46%{-moz-transform:scale(0.99,1.01)}47%{-moz-transform:scale(0.99,1.01)}48%{-moz-transform:scale(0.99,1.01)}49%{-moz-transform:scale(1,1)}}